.father {
  display: flex;
  height: 100vh;
  row-gap: 10px;
  column-gap: 90px;
  justify-content: center;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  align-items: center;
  align-content: space-evenly;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: tomato;
  color: white;
  font-size: 50px;
}
