@import '/styles/reset.css';

html {
  --color-grey-50: rgb(255, 255, 255);
  --color-grey-100: rgb(236, 236, 236);
  --color-grey-200: rgb(224, 224, 224);
  --color-grey-300: rgb(201, 200, 200);
  --color-grey-400: rgb(134, 134, 134);
  --color-grey-600: rgb(58, 58, 58);
  --color-grey-900: rgb(41, 41, 41);
}

body {
  background-color: var(--color-grey-50);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.phone {
  background-color: var(--color-grey-900);
  border-radius: 50px;
  height: 95%;
  width: 450px;
  margin: 0;
  padding: 50px 20px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.header {
  overflow-x: scroll;

  .header__list {
    width: max-content;
    display: flex;
    color: var(--color-grey-100);
    gap: 10px;

    .header__list-item {
      padding: 10px;
      border: 1px solid rgba($color: rgb(224, 224, 224), $alpha: 0.8);
      border-radius: 20px;
    }

    .header__list-item--inverted {
      background-color: var(--color-grey-100);
      color: var(--color-grey-900);
    }
  }
}

.cards {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  .cards__card {
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

    .card__title {
      font-size: 24px;
    }

    .card__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;

      span {
        padding: 5px 10px;
        border-radius: 15px;
        border: 1px solid var(--color-grey-900);
      }

      .card__footer__price {
        background-color: rgb(254, 221, 45);
      }

      .card__footer__lenght {
        background-color: var(--color-grey-50);
      }
    }

    &:nth-child(3n) {
      grid-column: span 2;
      background-color: rgb(248, 253, 183);
    }

    &:first-child {
      background-color: var(--color-grey-600);
      color: var(--color-grey-50);
      border: 1px solid var(--color-grey-50);

      .card__footer__price {
        color: var();
      }

      .card__footer__lenght {
        color: var(--color-grey-900);
      }
    }

    &:nth-child(2n) {
      background-color: var(--color-grey-50);
      color: var(--color-grey-900);
    }

    &:nth-child(4) {
      background-color: rgb(187, 170, 248);
    }

    &:nth-child(5) {
      background-color: rgb(255, 212, 212);
    }

    &:nth-child(6) {
      background-color: rgb(211, 255, 224);
    }
  }
}
