$color-grey-50: rgb(255, 255, 255);
$color-grey-100: rgb(236, 236, 236);
$color-grey-200: rgb(224, 224, 224);
$color-grey-300: rgb(201, 200, 200);
$color-grey-400: rgb(134, 134, 134);
$color-grey-600: rgb(58, 58, 58);
$color-grey-900: rgb(41, 41, 41);

$color-orange: rgb(255, 116, 0);
$color-red: rgb(255, 5, 0);
$color-pink: rgb(255, 0, 255);
$color-blue: rgb(25, 0, 255);

$border-orange: 2px solid $color-red;
