$color-grey-50: rgb(255, 255, 255);
$color-grey-100: rgb(236, 236, 236);
$color-grey-200: rgb(224, 224, 224);
$color-grey-300: rgb(201, 200, 200);
$color-grey-400: rgb(134, 134, 134);
$color-grey-600: rgb(58, 58, 58);
$color-grey-700: rgb(41, 41, 41);
$color-grey-800: rgb(38, 38, 38);
$color-grey-900: rgb(28, 28, 28);

$color-brown: rgb(114, 77, 69);

$color-yellow-50: rgb(242, 195, 106);
$color-yellow-100: rgb(252, 184, 37);

$color-purple-100: rgb(57, 47, 115);
$color-purple-200: rgb(81, 36, 133);

// url('https://source.unsplash.com/random/');
